# YANGI .env FAYL YARATING VA
# QUYIDAGI MA'LUMOTLARNI YOZING:

ADMINS=578687963
BOT_TOKEN=8305446770:AAGZGLPM96i8lD1__0T8Rtytu7h9yfAa7xXXo


# PostgreSQL
DB_USER=postgres
DB_PASS=1234
DB_NAME=telegrambot
DB_HOST=localhost